.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  gap: 20px;
  @media (max-width: 1050px) {
    flex-direction: column;
  }
}
.texts {
  flex: 1;
  height: 400px;
  .textsContainer {
    .heading {
      display: flex;
      gap: 20px;
      align-items: center;

      .logo {
        padding: 0;
        img {
          border-radius: 50%;
          width: 90px;
          height: 90px;
        }
      }
    }
    p {
      font-size: 40px;
      font-weight: 0;
    }
    @media (max-width: 1050px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
    }
  }
  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}
.loginForm {
  padding: 35px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: white;
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 30px, rgb(0 0 0 / 23%) 0px 6px 10px;
  justify-content: center;
  align-items: center;
  .logo {
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  }
  .heading {
    margin-top: 40px;
    h1 {
      font-size: 18px;
      color: rgb(48, 53, 75);
      font-weight: 500;
    }
  }
  .inputs {
    display: flex;
    flex-direction: column;
    width: 90%;

    input {
      margin-top: 20px;
      outline: none;
      border: none;
      border-bottom: 1px solid #1e1e1e4a;
      padding: 15px;
      font-size: 18px;
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    button {
      width: 90%;
      background-color: #e2e5ec;
      color: #8e95a9;
      outline: none;
      border: none;
      border-radius: 8px;
      height: 34px;
      cursor: pointer;
      font-size: 14px;
    }
  }
  .registerLink {
    margin-top: 20px;
    a {
      color: #fe9344;
      text-decoration: none;
    }
  }
  @media (max-width: 1050px) {
    width: 90%;
  }
}
