.root {
  display: flex;
  width: 60%;

  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 12px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    width: 100%;

    .image {
      width: 300px;
      img {
        width: 100%;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;

      gap: 20px;
      h1 {
        font-size: 40px;
      }
      span {
        word-break: break-all;
        a {
          color: #ff6a00;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: #ff6a00a9;
          }
        }
      }
    }
  }
}
