.loader-wrapper {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 150px;
  margin-right: 250px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 300px;
  height: 300px;
  margin: 8px;
  border-radius: 50%;
  border: 15px solid rgb(36, 36, 36);
  border-color: #fe9344 transparent #fe9344 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
