.root {
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.305);
  z-index: 4444;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 20px;
    padding: 10px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      border-radius: 10px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 30px;
      bottom: 30px;

      button {
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-image: linear-gradient(305deg, #e8690e, #f4c51d);
        color: rgb(255, 255, 255);

        &:hover {
          background-image: linear-gradient(305deg, #f8893a, #f6ce40);
        }
      }
    }
  }
}
