.block {
  width: 330px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 8px 8px 27px #d3d3d3, -8px -8px 27px #ededed;
  height: 540px;
  margin-top: 20px;
  position: relative;
  .image {
    width: 100%;
    height: 230px;
    img {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 25% 25%;
    }
  }

  .content {
    padding: 15px 20px 20px 20px;
    .texts {
      .description {
        margin-top: 10px;
        text-align: left;
        max-width: 100%;
        word-break: break-all;
        color: rgb(0, 0, 0);
        li {
          margin-left: 20px;
        }
      }
    }
    .author {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        a {
          color: #f7a153;
          cursor: pointer;
          transition: 0.3s;
          text-decoration: none;

          span {
            color: rgba(0, 0, 0, 0.711);
            cursor: auto;
          }

          &:hover {
            color: #ff7b00;
          }
        }
      }
      .delete {
        svg {
          font-size: 20px;
          color: rgb(249, 2, 2);
          cursor: pointer;
          transition: 0.2s;
          &:hover {
            color: rgba(244, 61, 61, 0.839);
          }
        }
      }
    }

    .category {
      display: flex;
      background-color: #fbeddd;
      width: fit-content;
      border-radius: 20px;
      padding: 7px;
      justify-content: center;
      color: #fa9f44;
      margin-top: 5px;
      cursor: pointer;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 20px;
      width: calc(100% - 40px);
      button {
        background-image: linear-gradient(305deg, #fe9344, #fecd20);
        width: fit-content;
        height: 40px;
        border: none;
        outline: none;
        border-radius: 30px;
        color: rgb(254, 246, 246);
        font-weight: 600;
        font-size: 17px;
        cursor: pointer;
        padding: 10px;
      }
      span {
        max-width: 145px;
        word-break: break-all;
        color: grey;
      }
    }
  }
}
