.root {
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 12px 0 rgb(0 0 0 / 8%);
  border-radius: 20px;
  min-height: calc(100vh - 150px);

  .container {
    .cards {
      display: flex;
      gap: 30px;
      padding: 20px;
      .card {
        background-image: linear-gradient(305deg, #fe9344, #fecd20);
        width: 25%;
        height: 200px;
        border-radius: 20px;
        padding: 20px;

        h2 {
          font-size: 30px;
          color: rgb(255, 255, 255);
          font-weight: 500;
        }

        span {
          color: rgb(28, 28, 28);
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
