.root {
  width: 20%;

  border-radius: 20px;
  min-height: calc(100vh - 150px);
  .container {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 20px 20px 20px;
      li {
        padding: 10px 10px 10px 20px;
        background-image: linear-gradient(305deg, #fecd20, #fe9344);
        list-style-type: none;
        font-size: 30px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
