.root {
  width: 30%;
  background-color: #fff;
  box-shadow: 1px 1px 12px 0 rgb(0 0 0 / 8%);
  border-radius: 20px;
  min-height: calc(100vh - 150px);
  .container {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 20px 20px 20px;
      width: 100%;
    }
  }
}
